# Javascript Node CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-javascript/ for more details
#
version: 2
jobs:
  build:
    docker:
      # specify the version you desire here
      - image: circleci/node:8

      # Specify service dependencies here if necessary
      # CircleCI maintains a library of pre-built images
      # documented at https://circleci.com/docs/2.0/circleci-images/
      # - image: circleci/mongo:3.4.4

    working_directory: ~/leboncoin-client

    steps:
      - checkout

      # Download and cache dependencies
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "package.json" }}
            # fallback to using the latest cache if no exact match is found
            - v1-dependencies-

      - run:
          name: Install Dependencies
          command: npm install

      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "package.json" }}

  test:
    docker:
      - image: circleci/node:8
    steps:
      - checkout
      - run:
          name: Run Tests
          command: npm test

  coverage:
    docker:
      - image: circleci/node:8
    steps:
      - checkout
      - run:
          name: Run Tests Coverage
          command: npm run cov

  readyToDeploy:
    docker:
      - image: circleci/node:8
    steps:
      - checkout
      - run:
          name: Run Build
          command: npm run build

workflows:
  version: 2
  build_and_test:
    jobs:
      - build
      - test:
        requires:
          - build
      - coverage:
        requires:
          - build
      - readyToDeploy:
        requires:
          - test
