.card {
  position: relative;
  margin-bottom: 1rem;
  overflow: hidden;
  transition: all 0.2s ease-in;
  box-shadow: 1px 1px 8px 1px #e6ebef;
  border-radius: 0.5rem;
  transition: 0.3s;
}

.card:hover {
  box-shadow: 1px 1px 8px 1px #cad1d9;
}

.card a {
  text-decoration: none;
  color: inherit;
  transition: 0.3s;
}

.card:hover .card-title {
  color: #f56b2a;
}

.card-body {
  flex-direction: column;
  align-items: center;
  display: flex;
  position: relative;
  padding: 0;
  z-index: 0;
  width: 100%;
  min-height: 12rem;
  text-decoration: none;
  background-color: #fff;
}

.card-top {
  padding-bottom: 16px;
}

.card .img {
  max-height: 100%;
  max-width: 100%;
  margin: 10px;
  height: 172px;
  width: 230px;
  background: #fafafa;
}

.card-content {
  position: relative;
  padding-top: 1.2rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
}

.card-title {
  font-size: 24px;
  line-height: 2.4rem;
  transition: 0.3s;
  padding-bottom: 8px;
}

.card-price {
  color: #f56b2a;
}

.date-fns {
  padding-top: 8px;
  line-height: 1.5;
  font-size: 12px;
}

#delete-ad {
  position: absolute;
  margin: 0;
  font-size: 24px;
  z-index: 1;
  cursor: pointer;
}

#delete-ad:hover {
  color: red;
}

.LinesEllipsis {
  line-height: 1.5;
}

@media only screen and (min-width: 768px) {
  .card-title {
    font-size: 2rem;
  }
  .card-body {
    flex-direction: row;
    align-items: flex-start;
  }
  .card-content {
    text-align: left;
  }
}
