.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 140px;
  background-color: #f56b2a;
  color: #fff;
}

.header a {
  color: inherit;
  text-decoration: none;
  transition: 0.3s;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 100%; /* really important otherwise, this flex does not work */
}

.account-panel {
  display: flex;
  flex-direction: row;
}

.account-panel span {
  margin-right: 10px;
}

.account-panel a:nth-child(1) {
  padding-right: 16px;
}

.flex a:nth-child(2) {
  padding-left: 16px;
}

.flex a:nth-child(3) {
  padding-left: 16px;
}

.header svg {
  width: 140px;
  height: 25px;
}

@media only screen and (min-width: 768px) {
  .header {
    height: 60px;
  }
  .flex {
    flex-direction: row;
    justify-content: space-between;
  }
  .flex a:nth-child(3) {
    flex-grow: 1;
  }
}
