.sign-up-page {
  box-shadow: 0 0 5px 0 #ddd;
  padding: 3rem 6rem;
  margin-top: 2rem;
}

.sign-up-page svg {
  width: 24px;
}

.sign-up-flex {
  display: flex;
  flex-direction: row;
}

.sign-up-flex-left {
  flex: 0 0 50%;
  max-width: 50%;
  padding-right: 1.5rem;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.form-item {
  display: flex;
  flex-direction: column;
}

.form-item label {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 13px;
  font-weight: 400;
}

.form-item input {
  padding: 8px 16px;
  border: 1px solid #cad1d9;
  border-radius: 4px;
}

.form button {
  height: 32px;
  margin-top: 1rem;
  padding: 0 10px;
  width: 100%;
  font-size: 13px;
  line-height: 19px;
  font-weight: 600;
  background-color: #4183d7;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
}

.form button:hover {
  background-color: #369;
}
