.filters-container {
  display: flex;
  padding-top: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid #cad1d9;
  background: #e6ebef;
}

.filters {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-top: 1px solid #cad1d9;
}

.search {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.search input {
  margin-bottom: 10px;
}

.search input,
.price-range select,
.filters select {
  padding: 8px 10px;
  background: #fff;
  border: 1px solid #cad1d9;
  border-radius: 4px;
  outline: none;
  font-size: 13px;
}

input[name="title"] {
  margin-left: 0;
}

.filters select {
  height: 37px;
  width: 100%;
}

.search button {
  display: block;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 100%;
  font-size: 13px;
  line-height: 19px;
  font-weight: 600;
  background-color: #4183d7;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
  transition: 0.3s;
}

.search button:hover {
  background-color: #369;
}

.price-range {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 16px;
}

.price-range label {
  padding-right: 8px;
  font-size: 12px;
}

.price-range span {
  margin: 5px;
}

@media only screen and (min-width: 768px) {
  .filters {
    display: flex;
    flex-direction: row;
  }
  .search {
    display: flex;
    flex-direction: row;
  }
  .search input,
  .price-range select {
    width: 80%;
  }
  .search input {
    margin-bottom: 0;
  }
  .search button {
    margin-left: 10px;
    width: 20%;
  }
  .price-range {
    flex: 0 1 50%;
  }
  .price-range {
    padding-bottom: 0;
  }

  .filters select[name="sort"] {
    width: 20%;
  }
}
